<div id="todoContainer">
    <div id="listOfLists">
        <h1 id="listsHeader">Your Lists</h1>
            <div id="listItem0" class="listTitles" ng-click="$ctrl.select(0)">
                <span>Create a List</span>
            </div>

        <div ng-repeat="info in $ctrl.information">
            <div id="listItem{{$index + 1}}" class="listTitles" ng-click="$ctrl.select($index + 1)">
                <span class="fa fa-times" ng-if="$ctrl.editingLists" ng-click="$ctrl.removeList($index)"></span><span > {{info.name}}</span>
            </div>
        </div>
    </div>
    <div id="todo">
        <div ng-if="$ctrl.selected === 0">
                <div class="removeListButton" ng-click="$ctrl.removingListOptions()">{{$ctrl.buttonWords}}</div>
            <h1 class="todoHeader">Create a List</h1>
            <div id="createForm">
                <input id="createInput" ng-keyup="$ctrl.addList($event)" type="text" placeholder="Type here to create a list name">
            </div>
        </div>
        <div ng-repeat="info in $ctrl.information">
            <div ng-if="$ctrl.selected === ($index + 1)">
                <div class="removeListButton" ng-click="$ctrl.removingListOptions()">{{$ctrl.buttonWords}}</div>
                <h1 class="todoHeader">{{info.name}}</h1>
                <div class="taskContainer">
                    <input class="taskInput" type="text" placeholder="What needs to be done?" ng-keyup="$ctrl.addTask($event, $index)">
                    <div ng-repeat="task in $ctrl.information[$index].tasks track by $index">
                        <div class="tasks">
                            <div id="completeCheckbox{{$index}}" class="completeCheckbox" ng-click="$ctrl.markComplete($index, $parent.$index)"></div>
                            <span id="taskWords{{$index}}">{{task}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>