html, body, h1, h2, h3, h4, h5, h6, p, span, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("flower blue.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

@font-face {
    font-family: angelTears;
    src: url("Angel Tears Neue Personal use.ttf");
}

#navBar {
    width: 100%;
}

.navItem {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #800000;
    box-sizing: border-box;
    transition: all 0.7s;
    font-size: 35px;
    padding: 5px 0;
    font-family: Helvetica;
}

.navItem:hover {
    background-color: #990000;
    cursor: pointer;
}

#homeHeader {
    text-align: center;
    font-size: 100px;
    font-family: angelTears;
    padding-top: 80px;
}

.container {
    height: 100%;

}

#intro {
    font-family: Helvetica;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #800000;
    border-radius: 5px;
    opacity: 0.7;
    padding: 15px 35px;
}

#todoContainer {
    height: 100%;
}

#listOfLists {
    width: 200px;
    float: left;
}

#todo {
    margin-left: 200px;
}

#listsHeader {
    font-family: angelTears;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid black;
}

.listTitles {
    font-size: 25px;
    padding: 15px 5px 15px 10px;
    font-weight: 300;
    font-family: Helvetica;
    transition: background-color 0.7s;
}

.listTitles:hover {
    background-color: #900000;
    cursor: pointer;
}

.selected {
    border-right: 5px solid #600000;
}

.todoHeader {
    text-align: center;
    padding-top: 140px;
    font-family: angelTears;
    font-size: 80px;
}

#createForm {
    width: 80%;
    margin: 20px auto 0 auto;
}

#createInput, .taskInput {
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: rgba(170, 0, 0, 0.3);
    border: 1px solid #500;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCCCCC;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCCCCC;
    opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCCCCC;
    opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #CCCCCC;
}

.removeListButton {
    float: left;
    margin-top: 45px;
    margin-left: 15px;
    padding: 10px 20px;
    background-color: #900000;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    font-family: Helvetica;
    transition: all 0.5s;
}

.removeListButton:hover {
    cursor: pointer;
    background-color: #c00000;
}

.taskContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.tasks {
    width: 100%;
    font-size: 35px;
    background-color: rgba(170, 0, 0, 0.3);
    border-left: 1px solid #500;
    border-right: 1px solid #500;
    border-bottom: 1px solid #500;
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    border-collapse: collapse;
    color: whitesmoke;
    font-family: Helvetica;
    font-weight: 300;
    transition: all 0.3s;
}

.completeCheckbox {
    margin: 5px 10px 0 0;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    border: 1px solid #500;
    float: left;
    transition: all 0.3s;
}

.completeCheckbox:hover {
    background-color: rgba(100, 0, 0, 0.2);
    cursor: pointer;
}

.checkBoxComplete {
    background-color: rgba(100, 0, 0, 0.4);
}

.taskWordsComplete {
    color: rgba(300, 300, 300, 0.3);
}

.deleteTask {
    float: right;
    margin-right: 20px;
    transition: all 0.3s;
    color: rgba(100, 0, 0, 0.5);
}

.deleteTask:hover {
    color: rgba(100, 0, 0, 0.8);
    cursor: pointer;
}