html, body, h1, h2, h3, h4, h5, h6, p, span, div {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    overflow-y: scroll;
}

html, body {
    background-image: url("flower blue.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

@font-face {
    font-family: angelTears;
    src: url("Angel Tears Neue Personal use.ttf");
}

.glow {
    outline: none;
}

#navBar {
    box-sizing: border-box;
    width: 100%;
    background-color: #B71C1C;
    overflow: hidden;

}

.navItem{
    float: left;
    box-sizing: border-box;
    transition: color 0.7s;
    font-size: 20px;
    padding: 5px 5px;
    font-family: Helvetica;
    margin: 14px 0 0 20px;
    color: #EEE;
    opacity: 0.7;
    letter-spacing: 2px;
}

.loginNavItem {
    float: right;
    margin-right: 35px;
}

.navTitle {
    float: left;
    box-sizing: border-box;
    transition: all 0.7s;
    padding: 5px 0;
    font-family: Helvetica;
    font-size: 35px;
    margin-left: 35px;
    letter-spacing: 3px;
    color: #FFF;
}

.navItem:hover {
    cursor: pointer;
    border-bottom: 5px solid #D50000;
}

.navSelectedItem {
    border-bottom: 5px solid #FF5252;
    box-sizing: border-box;
    opacity: 1;
}

#homeHeader {
    text-align: center;
    font-size: 100px;
    font-family: angelTears;
    padding-top: 80px;
}

.container {
    height: 100%;

}

#intro {
    font-family: Helvetica;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #800000;
    border-radius: 5px;
    opacity: 0.7;
    padding: 15px 35px;
    font-size: 15px;
}

#todoContainer {
    height: 100%;
}

#listOfLists {
    width: 200px;
    float: left;
}

#todo {
    margin-left: 200px;
}

#listsHeader {
    font-family: angelTears;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid black;
}

.listTitles {
    font-size: 25px;
    padding: 15px 5px 15px 10px;
    font-weight: 300;
    font-family: Helvetica;
    transition: background-color 0.7s;
}

.listTitles:hover {
    background-color: #900000;
    cursor: pointer;
}

.selected {
    border-right: 5px solid #600000;
}

.todoHeader {
    text-align: center;
    padding-top: 140px;
    font-family: angelTears;
    font-size: 80px;
}

#createForm {
    width: 80%;
    margin: 20px auto 0 auto;
}

#createInput, .taskInput {
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: rgba(170, 0, 0, 0.3);
    border: 1px solid #500;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCCCCC;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCCCCC;
    opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCCCCC;
    opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #CCCCCC;
}

.removeListButton, .clearCompletedButton {
    float: left;
    margin-top: 45px;
    margin-left: 15px;
    padding: 10px 20px;
    background-color: #900000;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    font-family: Helvetica;
    transition: all 0.4s;
}

.removeListButton:hover, .clearCompletedButton:hover {
    cursor: pointer;
    background-color: #c00000;
}

.taskContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.tasks {
    position: relative;
    width: 100%;
    font-size: 35px;
    background-color: rgba(170, 0, 0, 0.3);
    border-left: 1px solid #500;
    border-right: 1px solid #500;
    border-bottom: 1px solid #500;
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    border-collapse: collapse;
    color: whitesmoke;
    font-family: Helvetica;
    font-weight: 300;
    transition: all 0.3s;
    overflow: hidden;
}

.completeCheckbox {
    margin: 5px 10px 0 0;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    border: 1px solid #500;
    float: left;
    transition: all 0.3s;
}

.completeCheckbox:hover {
    background-color: rgba(100, 0, 0, 0.2);
    cursor: pointer;
}

.checkBoxComplete {
    background-color: rgba(100, 0, 0, 0.4);
}

.taskWordsComplete {
    color: rgba(300, 300, 300, 0.3);
}

.deleteTask {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 20px;
    transition: all 0.3s;
    color: rgba(100, 0, 0, 0.5);
}

.deleteTask:hover {
    color: rgba(100, 0, 0, 0.8);
    cursor: pointer;
}

.words {
    text-align: left;
    margin-right: 60px;
}

#loginContainer, #registerContainer {
    background-color: #C62828;
    border-radius: 5px;
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#loginHeader, #registerHeader {
    font-family: 'angelTears';
    font-size: 50px;
    width: 200px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 6px;
    color: #fff;
    opacity: 0.5;
    text-align: center;
}

.label {
    color: #fff;
    opacity: 0.5;
    font-family: Helvetica;
}

.divLabel {
    margin-bottom: 3px;
}

.loginElement {
    overflow: hidden;
    margin-bottom: 10px;
}

.loginInput {
    float: right;
    width: 97%;
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
}

.inputQuestion {
    color: white;
    opacity: 0.5;
    font-family: Helvetica;
    margin-top: 10px;
}

.link {
    text-decoration: underline;
    color: #FF8A80;
    transition: all 0.3s;
}

.link:hover {
    color: #FFCCCC;
    cursor: pointer;
}

#loginButton, #registerButton {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: #FF8A80;
    padding: 7px;
    box-sizing: border-box;
    font-family: angelTears;
    color: white;
    font-size: 30px;
    margin-top: 18px;
    transition: all 0.3s;
}

#loginButton:hover, #registerButton:hover{
    cursor: pointer;
    background-color: #FF5252;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #4CAF50;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: #D50000;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}
